
body{
    color:#333333;
    font-family: arial;

margin: 0 auto;
    max-width: 650px;
    padding:0 16px;
display: flex;
flex-direction: column;
min-height: 100vh;


}
.main-content{
    flex-grow: 2;
}
footer{
    color: lightgray;
    border-top: 1px solid lightgray;
  
    padding:16px 0;
   margin-top: 16px;
}
header{
    margin:16px 0 48px 0;
}
h1{
    font-size:64px;
    margin-bottom:16px ;
}
header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.portrait{
    width: 250px;
}
form{
    margin-bottom: 20px;
}
form input{
    -webkit-box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
    border: none;
    padding: 10px;
    background-color: rgba(230, 220, 220,0.5);
   border-radius:3px;
    outline: none;


}

form button{
   
    background-color: rgba(230, 220, 220,0.5);
    border-radius:3px;
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
}
.weather, .forecast{
    background-color: rgba(230, 220, 220,0.5);
    color:rgb(202, 78, 6)
}